<div class='end-checkout-wrapp'>
  <div class='end-checkout checkout-form'>
    <div class='icon'>
    </div>
    <h3 class='title-checkend'>
      Congratulation! Your order has been processed.
    </h3>
    <div class='sub-title'>
      Please note that our store are not guaranteed about gundam ability. It
      depends in the pilot. Any damaged cause by explode reactor will not get
      insurance
    </div>
    <a href='/' class='button btn-return'>Return to Store</a>
  </div>
</div>